/* Global */
:root {
    --ultra-violet: #54577C;
    --steel-blue: #4A7B9D;
    --grey: #d2d3d2;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--ultra-violet);
    color: var(--grey);
    font-family: sans-serif;
}

.loading {
    text-align: center;
}

button {
    background-color: var(--steel-blue);
    border-radius: 3px;
    border: none;
    color: var(--grey);
    cursor: pointer;
}

button:hover {
    outline: 1px solid var(--grey)
}

button:disabled {
    color: gray;
    cursor: not-allowed;
    outline: none;
}

/* Header */
.header--heading {
    text-align: center;
    margin-left: 1rem;
}

.header--container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: var(--steel-blue);
    border-bottom: 1px solid var(--grey);
    z-index: 1;
}

.header--img {
    width: 50px;
}

.header--img--heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--home--favourites {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--email--signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header--signout {
    background-color: var(--ultra-violet);
}

.header--email {
    margin-bottom: 0.5rem;
}

.header--home {
    background-color: var(--ultra-violet);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.header--favs {
    background-color: var(--ultra-violet);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Preview */
.preview--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview--list {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

@media (min-width: 44rem) {
    .preview--list {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
    }
}

@media (min-width: 66rem) {
    .preview--list {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
    }
}
  
@media (min-width: 88rem) {
    .preview--list {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
    }
}
  
@media (min-width: 105rem) {
    .preview--list {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.75rem;
    }
}

.preview--title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    line-clamp: 1;
    -webkit-box-orient: vertical;
    border-top: 1px solid var(--ultra-violet);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.preview--genres {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.preview--genre {
    font-size: xx-small;
    background-color: var(--ultra-violet);
    border-radius: 0.5rem;
    padding: 5px;
}

.preview--genre:hover {
    outline: 1px solid var(--grey);
}

.preview--seasons--updated {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--ultra-violet);
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: -0.8rem;
    padding: 3px;
    border-radius: 0.3rem;
}

.preview--seasons {
    margin: 0;
}

.preview--updated {
    margin: 0;
}

.preview--item {
    max-width: 20rem;
    min-width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--steel-blue);
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.preview--item:hover {
    cursor: pointer;
    outline: 1px solid var(--grey);
}

.preview--desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-left: 1rem;
}

.preview--img--desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview--img {
    width: 100px;
    border-radius: 5%;
}

.preview--more--button {
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    font-size: larger;
}

.preview--filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.preview--select {
    margin-left: 0.3rem;
    background-color: var(--steel-blue);
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.preview--select:focus {
    outline: var(--grey);
}

.preview--input {
    background-color: var(--steel-blue);
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--grey);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.preview--input::placeholder {
    color: var(--grey);
}

.preview--input:focus {
    outline: var(--grey);
}

.preview-noresults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.preview--genre--clear {
    background-color: var(--steel-blue);
    font-size: xx-small;
    border-radius: 0.5rem;
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.preview--genre--clear:hover {
    cursor: pointer;
    outline: 1px solid var(--grey);
}

/* Show */
.show--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show--img {
    width: 500px;
    border-radius: 10px;
}

.show--back--button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    align-self: start;
    width: 5rem;
    height: 2rem;
    font-size: larger;
    position: sticky;
    top: 6rem;
}

.show--desc {
    max-width: 50rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.show--genre {
    margin-top: -0.5rem;
    background-color: var(--steel-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* Season */
.season--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season--display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.season--image {
    width: 100px;
    border-radius: 5px;
}

.season--select {
    background-color: var(--steel-blue);
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.season--select:focus {
    outline: var(--grey);
}

/* Episode */
.episode--container {
    background-color: var(--steel-blue);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid var(--grey);
}

.episode--button {
    background-color: var(--ultra-violet);
}

/* PreviewSlideShow */
.previewslideshow--container {
    display: flex;
    align-items: center;
}

.previewslideshow--slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.previewslideshow--slider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.previewslideshow--slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

.previewslideshow--slide {
    cursor: pointer;
}

.previewslideshow--back--button {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: larger;
}

.previewslideshow--forward--button {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: larger;
}

/* AudioPlayer */
.audioplayer--container {
    position: fixed;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4A7B9D;
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid var(--grey);
}

.audioplayer--img {
    width: 50px;
    border-radius: 5px;
    margin-bottom: 1.8rem;
}

.audioplayer--button {
    background-color: var(--ultra-violet);
    margin-left: 5px;
}

.audioplayer--img--btns--time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.audioplayer--btns--time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audioplayer--btns {
    display: flex;
    align-items: center;
}

/* LogIn */
.login--container {
    width: 20rem;
    margin: auto;
    border: 1px solid var(--grey);
    border-radius: 5%;
    padding: 1rem;
    margin-top: 16rem;
}

/* Favourites */
.favourites--nofavourites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites--show--title {
    text-align: center;
}

.favourites--season--title--img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites--img {
    width: 80px;
    border-radius: 5px;
}

.favourites--episode {
    background-color: var(--steel-blue);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid var(--grey);
}

.favourites--episode--button {
    background-color: var(--ultra-violet); 
}

.favourites--label--select {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.favourites--select {
    margin-left: 0.5rem;
    background-color: var(--steel-blue);
    border-radius: 5px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.favourites--select:focus {
    outline: var(--grey);
}
